<div class="card bg-dark text-light mb-4 p-3 border border-secondary">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="mb-0">Latest Transactions</h5>
    <button class="btn btn-sm btn-danger" (click)="deleteAllTransactions()" >Delete All</button>
  </div>

  <table class="table table-dark table-striped mb-0">
    <thead>
      <tr>
        <th>Receiver Name</th>
        <th>Transaction ID</th>
        <th>Transaction Type</th>
        <th>Date</th>
        <th>Transfer Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tr of data?.result">
        <td>{{ tr.receiverName }}</td>
        <td>{{ tr.transactionId }}</td>
        <td>{{ tr.transactionType }}</td>
        <td>{{ tr.transactionDate }}</td>
        <td>₹{{ tr.transferAmount }}</td>
        <button class="btn btn-sm btn-danger" (click)="deleteTransaction(tr.transactionId)" >Delete</button>
      </tr>
      <tr *ngIf="data?.result?.length === 0">
        <td colspan="5" class="text-center text-warning">No Transactions Found</td>
      </tr>
    </tbody>
  </table>
</div>




