.container{
  font-family: 'Segoe UI', sans-serif;
}

main {
    height: 84vh;
    overflow-y: scroll;
    scrollbar-width: none;         
  -ms-overflow-style: none;
}
main::-webkit-scrollbar {
  display: none;               
}