<app-wallet-balance />

<div class="container d-flex justify-content-center align-items-center bg-dark">
  <div class="card text-white bg-dark shadow" style="max-width: 400px; width: 100%;">
    <div class="card-body">
      <h4 class="card-title text-center mb-3">Enter Amount</h4>
      <form #amountForm="ngForm" (ngSubmit)="amountForm.form.valid && onSubmit()" novalidate>
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control bg-dark text-white"
            [(ngModel)]="addMoneyModel.amount"
            required
            #amount="ngModel"
            placeholder="Enter amount"
            [ngClass]="{'is-invalid': amountForm.submitted && amount.invalid}"
          />
          <div class="text-danger" *ngIf="amountForm.submitted && amount.invalid">
            Amount is required.
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>
