.login-card {
  max-width: 500px;
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 400px;
}
.form-control::placeholder {
  color: #aaa;
}

.text-white {
  color: #ffffff !important; /* Make card text black for contrast */
}